.umoja-u-bg--charcoal0 {
    background-color: $color-charcoal-0;
}

.umoja-u-bg--charcoal1 {
    background-color: $color-charcoal-1;
}

.umoja-u-bg--charcoal2 {
    background-color: $color-charcoal-2;
}

.umoja-u-bg--charcoal3 {
    background-color: $color-charcoal-3;
}

.umoja-u-bg--charcoal4 {
    background-color: $color-charcoal-4;
}

.umoja-u-bg--charcoal5 {
    background-color: $color-charcoal-5;
}

.umoja-u-bg--charcoal6 {
    background-color: $color-charcoal-6;
}

.umoja-u-bg--charcoal7 {
    background-color: $color-charcoal-7;
}

.umoja-u-bg--sunny{
    background-color: $color-sunshine;
}