//base colors
$color-white:#ffffff;
$color-black:#000000;
$color-sunshine:#fffa0c;

//charcoals
$color-charcoal-0: #0e0e11;
$color-charcoal-1: #1E1E24;
$color-charcoal-2: #2E2E38;
$color-charcoal-3: #40404f;
$color-charcoal-4: #606076;
$color-charcoal-5: #9D9DB5;
$color-charcoal-6: #cdcde1;
$color-charcoal-7: #e2e2ee;

//gradients
$gradient-sunshine: #FFD332 0%, #FFFA0C 100%;
$gradient-magenta-purple: #951DD9 0%, #C01FEB 31.25%, #FF22E9 100%;
$gradient-green-blue: #00EDED 0%, #00EDDF 47.92%, #1DF18B 100%;
$gradient-red-orange: #FD2222 0%, #FF9533 100%;
$gradient-blue: #1CFCFC 0.01%, #2CB3FF 50%, #2792F4 100%;
$gradient-pink-red: #FF3232 0%, #FF33AD 100%;
$gradient-blue-purple: #79BDEC 0%, #806DF2 48.91%, #885AD3 99.27%;
$gradient-green-yellow: #FFFA0C 40%, #BCF334 100%;